.twitter {
  display: block;
  margin-top: 0.5rem;
  font-weight: bold;
}

.twitter__logo {
  height: 2rem;
  vertical-align: middle;
}

.twitter__username {
  font-size: 1.25rem;
  line-height: 1;
  color: black;
  vertical-align: middle;
}
