.twitter {
  display: block;
  margin-top: 1rem;
  font-weight: bold;
  font-size: 1.25rem;
}

.twitter__logo {
  height: 0.8em;
  vertical-align: middle;
  margin-right: 0.25rem;
}

.twitter__username {
  color: black;
  vertical-align: middle;
}
