# Git Secret
.gitsecret/keys/random_seed
!*.secret

# Web
build/

# Logs
logs
*.log

# Dependency directory
node_modules

# Debug logs from npm/yarn
npm-debug.log*
yarn-debug.log*
yarn-error.log*
api/config/production.env
api/config/development.env
deploy/soundoftext/api.env
deploy/acme.json
