h1.brand {
  font-size: 2rem;
  font-weight: 700;
  margin: 0.5em 0;
  text-align: center;
  color: #008B8B;
}

.nav {
  background: #008B8B;
  padding: 1rem 1.25rem;
}

ul.nav__list {
  list-style: none;
  display: flex;
  justify-content: space-between;
  padding: 0;
  margin: 0;
}

a.nav__link {
  text-decoration: none;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  color: white;
}

@media (min-width: 480px) {
  .nav {
    padding: 1rem 2rem;
  }
}
