.donate {
  margin-top: 2rem;
  position: relative;
}

.amounts {
  display: flex;
  flex-wrap: wrap;
}

.amount {
  width: 33.333%;
  min-width: 45px;
  min-height: 45px;
  font-size: 1em;
  background: none;
  border: none;
  color: #008B8B;
  outline: none;
}

.amount.amount--custom {
  color: black;
  position: relative;
  width: 100%;
  margin-bottom: 1rem;
}

.amount--custom .amount__currency {
  position: absolute;
  left: 0.5em;
  line-height: 45px;
}

.amount--custom input {
  display: block;
  padding: 0.5em;
  width: 100%;
  height: 100%;
  font-size: 1em;
  text-align: center;
  border: 1px solid #A8A8A8;
  border-radius: 2px;
}

.amount--custom input:focus {
  border: 1px solid #FFF;
  outline: #008B8B auto 5px;
}

.message {
  font-size: 1.25rem;
  font-weight: bold;
  margin: 0;
  text-align: center;
}

.message.message--error {
  font-weight: normal;
  color: #E80000;
}

@media (min-width: 600px) {
  .amount.amount--custom {
    margin-bottom: 1.5rem;
  }
}

@media (min-width: 960px) {
  .donate {
    margin-top: 3rem;
  }
}
