.sounds {
  display: flex;
  flex-direction: column;
}

/** Empty Sounds **/

.smiley {
  margin-left: 1.5rem;
  display: inline-block;
  letter-spacing: 2px;
  transform: rotate(90deg) translateX(0.25rem);
}

ol.help {
  padding-left: 1.15rem;
  margin-bottom: 0;
}

li.help__step {
  margin-bottom: 1rem;
}

li.help__step:last-child {
  margin-bottom: 0;
}

/** Sounds **/

.sound__content {
  position: relative;
  padding: 2.5rem 1rem 1rem;
  background: #F5F5F5;
  margin: -1rem -1rem 0;
}

.sound__text {
  font-size: 1.15rem;
  margin: 0;
}

.sound__voice {
  display: block;
  position: absolute;
  top: 0.5rem;
  left: 1rem;
  font-size: 0.75rem;
}
