.button {
  display: block;
  width: 100%;
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.5;
  padding: 0.75rem 1rem;
  background: #008B8B;
  border: none;
  border-radius: 2px;
  color: white;
  cursor: pointer;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  box-shadow:
    0 2px 2px 0 rgba(0,0,0,.14),
    0 3px 1px -2px rgba(0,0,0,.2),
    0 1px 5px 0 rgba(0,0,0,.12);
}

.button--white {
  border: 1px solid white;
  text-transform: uppercase;
  box-shadow: none;
  text-align: center;
}
