.grid {
  display:flex;
  flex-wrap: wrap;
}

.grid__item {
  width: 100%;
  margin-bottom: 1rem;
}

.grid__item:last-child {
  margin-bottom: 0;
}

.grid__item--solo {
  margin-bottom: 0;
}

@media (min-width: 600px) {
  .grid {
    justify-content: space-between;
    margin-bottom: -1rem; /* make up for grid item margin bottom */
  }

  .grid--center {
    justify-content: center;
  }

  .grid__item {
    width: calc(50% - (1rem * 0.5));
    margin-bottom: 1rem;
  }

  .grid__item:last-child {
    margin-bottom: 1rem;
  }

  .grid__item--solo {
    width: calc(75% - (1rem * 0.25));
  }

  .grid .card {
    display: flex;
    flex-direction: column;
  }

  .grid .card__content {
    flex: auto;
  }
}

@media (min-width: 960px) {
  .grid {
    margin-bottom: -1.5rem;
  }

  .grid__item {
    width: calc(33.333% - (1.5rem * 0.666));
    margin-bottom: 1.5rem;
  }

  .grid__item:last-child {
    margin-bottom: 1.5rem;
  }

  .grid__item--solo {
    width: calc(50% - (1.5rem * 0.5));
  }
}
