.highlight {
  background: #008B8B;
  margin: 0 -1.25rem;
  padding: 1rem 1.25rem;
}

.highlight__content {
  background: white;
  padding: 1rem;
  line-height: 1.5;
  box-shadow:
    0 2px 2px 0 rgba(0,0,0,.14),
    0 3px 1px -2px rgba(0,0,0,.2),
    0 1px 5px 0 rgba(0,0,0,.12);
}

.link {
  display: block;
  margin-top: 0.5rem;
  font-weight: bold;
}

.link__img {
  height: 2rem;
  vertical-align: middle;
}

.link__text {
  font-size: 1.25rem;
  line-height: 1;
  color: black;
  vertical-align: middle;
}
