.resources {
  background: #008B8B;
  margin: 0 -1.25rem;
  padding: 2rem 1.25rem;
}

.resource {
  margin-bottom: 1rem;
}

.resource:last-child {
  margin-bottom: 0;
}

.card__header {
  position: relative;
  height: 8rem;
  margin: -1rem -1rem 0;
}

.duolingo {
  background: linear-gradient(to bottom right, #7AC70C, #8EE000);
}

.card__title {
  margin: 0;
  font-size: 1.5rem;
  font-weight: normal;
}

.card__actions {
  border-top: 1px solid rgba(160, 160, 160, 0.2);
  margin: 0 -1rem -1rem;
  padding: 0 1rem;
}

.card__action {
  display: inline-block;
  color: #008B8B;
  text-transform: uppercase;
  text-decoration: none;
  padding: 1rem 0;
  margin-right: 1rem;
}

.card__action:last-child {
  margin-right: 0;
}
