* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  font-size: 16px;
}

/** Header Brand/Navigation **/

header {
  margin-bottom: 0.5em;
}

h1.brand {
  font-size: 1.5em;
  text-align: center;
}

nav {
  background: lightgrey;
  padding: 0.5em;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
  padding: 0;
  margin: 0;
}

/** Section styling **/

section {
  padding: 0.5em;
}

.title {
  font-size: 1.37em;
  margin-bottom: 0.5em;
}

/** Application Styles **/

.engine input, .engine select, .engine textarea {
  display: block;
  width: 100%;
  min-height: 45px;
  font-size: 1em;
  padding: 0.5em;
}

.engine textarea {
  resize: none;
}

.engine .input-group, .engine .button-group {
  margin-bottom: 0.5em;
}

.sounds {
  display: flex;
  flex-direction: column;
}

.sound {
  margin-bottom: 0.5em;
  border: 1px solid black;
  padding: 0.5em;
}

.sound .sound__text {
  margin-top: 0;
  font-size: 1em;
  font-weight: normal;
  margin-bottom: 0.5em;
}

.sound .sound__voice {
  margin-bottom: 0.5em;
  font-style: italic;
}

.sound .sound__actions {
  display: flex;
}

.sound__actions .action {
  flex: auto;
  min-height: 45px;
  min-width: 45px;
  font-size: 1em;
}

/** About Styles **/

/** Learning Resources Styles **/

/** Contribution Styles **/

.donate {
  min-height: 45px;
  width: 100%;
  font-weight: bold;
  font-size: 1em;
}

.goals {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.goal {
  border: 1px solid black;
  border-radius: 5px;
  padding: 0.5em;
  margin-bottom: 0.5em;
}

.goal .goal__progress {
  background: lightgrey;
  min-height: 45px;
  text-align: center;
  font-size: 2em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.goal .goal__title {
  text-align: center;
}

.progress-bar {
  font-family: monospace;
}

/** Footer Styles **/

footer {
  text-align: center;
  padding: 0.5em 0;
  background: lightgrey;
}
