* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  color: #333;
  background: #008B8B;
}

a {
  text-decoration: none;
  color: #008B8B;
}
