.footer {
  background: white;
  display: flex;
  justify-content: space-between;
  padding: 1rem;
}

.footer__link {
  margin-right: 1rem;
  vertical-align: middle;
}

.footer__link:last-child {
  margin-right: 0;
}

.icon {
  height: 1rem;
}

@media (min-width: 600px) {
  .footer {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
}

@media (min-width: 960px) {
  .footer {
    padding-left: 2.5rem;
    padding-right: 2.5rem;
  }
}
